  <header class="banner navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
<!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
              <a class="navbar-brand" href="/{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/logo-white.png" alt="{{ site.title }}"></a>
          </div>

<!--<nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
        <li><form role="search" method="get" class="navbar-form" action="https://omoshetech.com/">
  <div class="input-group">
    <input type="search" value="" name="s" class="search-field form-control" required>
    <span class="input-group-btn">
      <button type="submit" class="search-submit btn btn-default" aria-label="検索"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
    </span>
  </div>
</form>
</li>
      </ul>
    </nav>-->
  </div>
</header>
