              <aside class="sidebar" role="complementary">
          <section class="widget widget_text"><h4>About</h4>			<div class="textwidget"><p>スタートアップの経営者とエンジニアに役立ちそうなことを記事にしています。このブログをきっかけに一緒に働きたいという経営者やエンジニアが見つかるといいなと思います。</p>
</div>
                </section><section class="widget widget_text"><h4>Author</h4>			<div class="textwidget"><div class="pull-left">
<img class="author-image" src="{{ site.baseurl }}/assets/author.jpg" alt="著者の写真">
</div>
<div>
<h5 class="author-name">土田 拓也</h5>
<p class="author-profile">野村総合研究所と博報堂ＤＹメディアパートナーズを経てスタートアップの CTO をしています。スタートアップの CTO という役割について模索しています。</p>
</div>
</div>
                </section><section class="widget widget_text"><h4>Follow Me</h4>			<div class="textwidget"><div class="addthis_horizontal_follow_toolbox"></div></div>
                </section><section class="widget widget_categories"><h4>Categories</h4>		<ul>
        <li class="cat-item"><a href="/category/technology/" title="技術カテゴリでは、Ruby・Ruby on Rails・資格などについて記事を書いています。">技術</a>
<ul class='children'>
        <li class="cat-item"><a href="/category/technology/ruby/" title="Ruby カテゴリでは、Ruby・Ruby on Rails などについて記事を書いています。">Ruby</a>
</li>
        <li class="cat-item"><a href="/category/technology/notes/" title="メモカテゴリでは、日々の技術的発見・ツールの使い方などについて記事を書いています。">メモ</a>
</li>
</ul>
</li>
        <li class="cat-item"><a href="/category/management/" title="経営カテゴリでは、社内情報システムなどについて記事を書いています。">経営</a>
<ul class='children'>
        <li class="cat-item"><a href="/category/management/internal-information-system/" title="社内情報システムカテゴリでは、コンピューターの選定・グループウェアの選定・情報セキュリティ対策などについて記事を書いています。">社内情報システム</a>
</li>
</ul>
</li>
                </ul>
</section>        </aside><!-- /.sidebar -->
          </div><!-- /.content -->
  </div><!-- /.wrap -->

  <footer class="content-info" role="contentinfo">
  <div class="container">
    <p>&copy; 2016 OmosheTech</p>
      </div>
</footer>

  <script src="/js/modernizr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.js"><\/script>')</script>
<script src="/js/scripts.min.js"></script>
<script src="//s7.addthis.com/js/300/addthis_widget.js?#pubid=ra-54be9d020f62b88f"></script>
<script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-46162672-1','auto');ga('send','pageview');
</script>
