<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <title>{{ page.title }} - {{ site.title }}</title>

<!-- This site is optimized with the Yoast SEO plugin v2.3.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}"/>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="article:publisher" content="http://facebook.com/omoshetech/" />
<meta property="article:section" content="{{ page.categories.last }}" />
<meta property="article:published_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}" />
<meta property="article:modified_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}" />
<meta property="og:updated_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}" />
<meta property="fb:admins" content="100006357248779" />
<meta property="og:image" content="{{ site.url }}/assets/{{ page.featured_image }}-facebook.png" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>
<meta name="twitter:title" content="{{ page.title }} - {{ site.title }}"/>
<meta name="twitter:site" content="@omoshetech"/>
<meta name="twitter:domain" content="{{ site.title }}"/>
<meta name="twitter:image:src" content="{{ site.url }}/assets/{{ page.featured_image }}-twitter.png"/>
<meta name="twitter:creator" content="@omoshetech"/>
<!-- / Yoast SEO plugin. -->

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/syntax-highlighting.css" | prepend: site.baseurl }}">
</head>
